
input, textarea {
  color: $color_font_forms;
  font-size: 0.9rem;
  border: 1px solid $color_input_forms;
  padding: 8px 8px;

  @media(min-width: $screen-md) {
    font-size: 1rem;
    // padding: 12px 12px;
  }
}

.btn {
  border: 0;
  font-size: 0.9rem;
  padding: 8px 20px;
  cursor: pointer;

  @media(min-width: $screen-md) {
    font-size: 1rem;
    padding: 12px 30px;
  }

  &.btn-default {
    background-color: $btn_default_color;
    color: $color_dark;
  }
  &.btn-primary {
    background-color: $color_tomato;
    color: $color_white;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

.form-group {
  margin-bottom: 20px;

  input[type=text], input[type=email], input[type=password] {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}

.form-actions {
  margin-top: 30px;
  text-align: right;
}

.alert {
  position: absolute;
  top: 100px;
  right: 20px;
  line-height: 1.6;
  text-shadow: none;
  padding: 20px 20px;
  max-width: 400px;
  border-radius: 5px;

  &.alert-error {
    background-color: #db2525;
    color: white;
  }
}