$color_base: #1c2742;
$color_dark: #161f36;
$color_darker: #131a29;
$color_light: #0291d4;
$color_font_forms: #637381;
$color_input_forms: #BDC4C9;

$color_white: #FEFEFF;
$color_gray: #dadce0;
$color_lavender_web: #FEFEFF;
$color_blue: #D6EFFF;
$color_deep_champagne_dark: #FED18C;
$color_deep_champagne_light: #FED99B;
$color_tomato: #FE654F;
$color_tomato_ligth: #fa7d6a;



$btn_default_color: #8997b3;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
